.adminBack{
    -fx-background-color: #20120f;
}

.adminMenuPane{
    -fx-background-color: #999900
}

.button{
    -fx-background-color: #a3af33ef;
    -fx-background-radius: 3px;
    -fx-text-fill: #fff;
     
}
.button:hover{
    -fx-background-color: #003300;
    -fx-text-fill: #fff;
    -fx-border-color: #003300;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    
}
.logOut{
    -fx-background-color: #20120f;
}
.logOut:hover{
    -fx-background-color: #990000;
}

.registerBtn{
    -fx-background-color:  #999900;
}

.dataViewer{
    -fx-background-image: url("../Images/te11.jpg");
}

.regBack{
    -fx-background-image: url("../Images/sand.jpg");
}

.proBack{
    -fx-background-color: #cccccc;
}
